
body {
    background-color: #EFE2BA;
}

header {
    display: flex;
    background-color: black;
}

header h1 {
    display:inline;
    background-color: #D79922;
    padding: 10px 15px 15px;
    border-radius: 0px 0px 15px;
    font-size: 60px;
    color: #4056A1;
    font-family: 'Gill Sans', 'Courier', 'Ariel', 'sans-serif';
}

.underlined {
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}

header nav {
    align-content: center;
    background-color: #F13C20;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: yellow;
}

header nav ul a {
    color: black;
    text-decoration: none;
}