body{
    background-color: #eed9c4;
}

.title{
    background-color: #6a5e46;
    display: flex;
    justify-content: center;

}

.header-space{
    width: 40%;
    height: 40px;
    border: 20px solid red
}

h1{
    border: 5px solid green;
    color: #4346aa;
    font-size: 80px;
    text-decoration: underline;
}

.blogpost{
    border: 5px solid #4346aa;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #4346aa;
}
    
h2{
    border: 5px solid yellow;
    color: #C5CBE3;
}

form{
    border: 5px solid orange
}

form label{
    border: 5px solid black;
    color: #C5CBE3;
}

form label input{
    border: 5px solid lime
}

.image{
    width: 50%;
    height: 400px;
    min-height: 20px;
}